@media screen and (max-width:700px) and (min-width:560px) {
    #maintop {
        grid-template-columns: repeat(2, 1fr);
    }
}





.main {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    z-index: 100;
}

#topleft {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    color: hotpink;
    font-size: 15px;

}

#topright {
    display: flex;
    gap: 25px;
    margin-right: 15px;
    color: #005699;
    font-size: 15px;
}

#topright>img {
    height: 30px;
    padding-top: 10px;
}

.btn {
    border: none;
    background-color: aliceblue;
    font-size: 20px;
    font-weight: 50;
    padding-top: 19px;
    color: gray;

}

/* ================================================================================================================================= */

.div2work {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 10px;
    margin: 2px;
   
}

#div2 {
    display: flex;
    background-image: url("https://cdn-fsly.yottaa.net/5d669b394f1bbf7cb77826ae/www.bathandbodyworks.com/v~4b.21a/on/demandware.static/-/Sites-BathAndBodyWorks-Library/en_US/v1670928374177/images/Christmas2022/Logos-Christmas-2022.svg?yocs=o_s_");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    margin-top: 20px;
}

.search,
input {
    width: 250px;
    height: 30px;
    background-image: url('https://cdn-icons-gif.flaticon.com/8112/8112604.gif');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 220px;
    
}

#div2 ul li {
    display: flex;
    border: none;
}

.img2 {
   height: 40px;
  
}

#div2 ul {
    display: flex;
}

/* ================================================================================================================================= */


.ula{
    text-decoration: none;
    color: #333;
    margin-top: 20px;
}


.ul3{
    display: flex;
    /* gap: 5px; */
}
.ul3 , li{
    margin: 2%;
    border: none;
    display: flex;
    font-size: 12px;
    margin-top: 2%; 
}



/* ================================================================================================================================= */


#div4 {
    height: 50px;
    background-color: #99cde9;
}

.div4m {
    height: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 1px;

}

.div4m,
p {
    padding-top: 0.1%;
    text-decoration: none;

}

.div4m,
p a {
    font-family: TradeGothicLTW05-BoldNo\.2, Arial, sans-serif;
    text-decoration: none;
}

/* =============================================================================================================================== */
.div5up{

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.div5main{
    width: 95%;
    margin: auto;
    height: auto;
   
}


#div5{
    width: 100%;
    margin: auto;
}


.textp {
    background-color: rgb(230, 35, 35);
    font-size: large;
    margin-top: 0px;
    color: white;
    height: 35px;
}

.textp, p {
    text-align: center;
    padding-top: 10px;  

}

/* ============================================================================================================================== */

.imgdiv6  {
    height: 550px;
    width: 100%;
}

/* =============================================================================================================================== */


.div7top{
    background: #f4f2f2;
    height: 370px;
    width: 100%;
    margin-top: 2%;

}

.p{
    font-family: TradeGothicLTW05-BoldNo\.2,Arial,sans-serif;
    letter-spacing: .005em;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: none;
    color: #333;
    text-align: center;
    padding-top: 10px;
   
    
}

.eig{
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 5px;
    margin-top: 4%;
    overflow-x: scroll; 
     overscroll-behavior-inline:contain ;
    cursor: grab;
}
.eight{
    scroll-behavior: smooth;
  height: 250px;
  border: 1px solid black;
  width: auto;
}


.eight > button a{
    text-decoration: none;
    border: none;
    color: #99cde9;
}
.eight > button{
    width: 90%;
    margin: 5%;
    height: 35px;
}
/* ========================================================================================================================== */

.div8img{
    width: 100%;
    height: 500px;
    margin-top: 5%;
    
}
/* =============================================================================================================================== */

.divtwo{
   height: 350px;
   width: 100%;
}

.text{
  text-align: center;
  font-size: 30px;
  font-family: cursive;   
  margin-top: 25px;
}

.divimg9{
     display: flex;
     height: 240px;
     margin-top: 30px;
}

.childdiv9 a img{
    height: 150px;
    width: 170px;
    

}
.childdiv9{
    gap: 20px;
    margin: 0.7%;
}
.childdiv9 , h3 a{
    color: #333;
    text-align: center;
    font-size: large;
    font-family: serif;
    margin-top: 20px;
    
}
/* =============================================================================================================================== */

.div9{
    width: 100%;
}

/* ================================================================================================================================= */
.div10{
    width: 100%;
}

.div10ul{
    display: flex;
    margin-top: 30px;
}
.div10ul  li button{
    height: 50px;
    width: 100%;
    background-color: #333333;
    margin-right: 29px;
    margin-top: 10px;
    
}
.div10ul li button a{
    color: white;
    text-decoration: none;
    font-size: 15px;
;
}
.div10li{
   margin-left: 38%;
}
.div10li li button{
    height: 40px;
    width: 20%;
    background-color: #333333;
    margin-right: 20px;
    margin-top: 10px;
}
.div10li li button a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
/* 
===================================================================================================================================
*/
.img10{
    width: 100%;
}

/* ======================================================================================================================== */

.ul11{
    display: flex;
    margin-left: 30%;
}
.li11{
    border: 1px solid black;
    height: 30px;
    width: 150px;
    background-color: #333333;
}
.li11  a{
    margin: auto;
    color: white;
    text-decoration: none;
    font: italic small-caps bold 16px/2 cursive;
}

/* ========================================================================================================================== */

#div12 {
    text-align: center;
    font: italic small-caps bold 16px/2 cursive;
    font-size: x-large;
   
}

/* =========================================================================================================================== */

.div13inner{
    display: flex;
}

.div13img{
    height: 70px;
    width: 190px;
    
}
.div13img img{
    height: 200px;
    width: 100%;
    

}
.div13img button{
    border: none;
    background-color: white;
    margin-left: 30px;
    
}
.div13inner button:hover{
    border: dotted;
    
}
.div13img button a{
    color: #333333;
    font: italic;
}

/* ============================================================================================================================== */

.div14main{
    height: 40px;
    margin-top: 20%;
   
   
}
.div14in{
    display: flex;
    margin-left: 3%;
}
.div14in img{
    height: 30px;
    margin-top: 0.5%;
}
.divone{
    margin-top: 0.5%;
}

.divtwo{
    font-family: trendsansw05-one,Arial,sans-serif;
    font-size: x-large;
}

/* ============================================================================================================================== */

.div15in{
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    color: #333333;
}
/* ============================================================================================================================== */

















